[program:campaigns-scheduler]
process_name=%(program_name)s
directory={{APP_PATH}}
command=bash -c "while true; do php artisan campaigns:run; sleep 60; done"
autostart=true
autorestart=true
user={{APP_USER}}
redirect_stderr=true
stdout_logfile={{APP_PATH}}/storage/logs/campaigns-scheduler.log
stopwaitsecs=60 